@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", "sans-serif";
  --font-toyota: "ToyotaType", "sans-serif";
}

body {
    font-family: 'Montserrat', sans-serif;
}



@font-face {
  font-family: 'ToyotaType';
  src: url('./assets/Toyota-Type.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}